body {
    min-height: 100vh;
}

.header {
    margin-bottom: 8px;
}

button {
    border: 2px solid black;
    margin-bottom: 16px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    max-height: 960px;
}

.square {
    flex: 1;
    border: 2px solid black;
    padding: 24px;
}