body {
    min-height: 100vh;
}

.header {
    margin-bottom: 8px;
    font-family:'Times New Roman', Times, serif
}

button {
    border: 2px solid black;
    margin-bottom: 16px;
}

.row {
    display: flex;
    background-color: black;
}

.square {
    flex: 1;
    border: 2px solid blue;
    padding: 20px;
    background-color: black;
}